# XSLT developer snippets

'.text.xml':

  'XMLSchema namespace':
    'prefix': 'xmlns:xs=...'
    'body': 'xmlns:xs="http://www.w3.org/2001/XMLSchema"'

  'Xlink namespace':
    'prefix': 'xmlns:xlink=...'
    'body': 'xmlns:xlink="http://www.w3.org/1999/xlink"'
